# Question 1: Version of Pandas

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

--2023-09-13 20:32:54--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: ‘housing.csv’

housing.csv         100%[===================>]   1.36M  1.48MB/s    in 0.9s

2023-09-13 20:32:56 (1.48 MB/s) - ‘housing.csv’ saved [1423529/1423529]

In [3]:
df = pd.read_csv('housing.csv')

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

# Question 2: Number of columns in the dataset

In [5]:
len(df.columns)

10

# Question 3: Select columns with missing data

In [6]:
for i in df.columns.values.tolist():
    if sum(df[i].isnull()) > 0:
        print(i)

total_bedrooms

# Question 4: Number of unique values in the 'ocean_proximity' column

In [7]:
len(set(df['ocean_proximity']))

5

# Question 5: Average value of the 'median_house_value' for the houses near the bay

In [8]:
df[df['ocean_proximity']=='NEAR BAY'].median_house_value.mean()

259212.31179039303

In [9]:
d = df['total_bedrooms'].mean().round(3)
d

537.871

In [10]:
df.total_bedrooms.fillna(d,inplace=True)

In [11]:
df['total_bedrooms'].mean().round(3)

537.871

# Question 6: Has the mean value changed after filling missing values?
## A: No

In [12]:
l = df[df.ocean_proximity=='ISLAND']

In [13]:
x = l[['housing_median_age','total_rooms','total_bedrooms']].to_numpy()

In [14]:
x

array([[  27., 1675.,  521.],
       [  52., 2359.,  591.],
       [  52., 2127.,  512.],
       [  52.,  996.,  264.],
       [  29.,  716.,  214.]])

# Questions 7: Value of the last element of w

In [16]:
import numpy as np
ans = np.linalg.inv(x.T @ x) @ x.T @ np.array([950, 1300, 800, 1000, 1300])

In [17]:
ans[-1]

5.6992294550655656