In [1]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-10-05 02:39:18--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv.12’

data.csv.12         100%[===================>]   1.41M   364KB/s    in 4.0s

2023-10-05 02:39:22 (364 KB/s) - ‘data.csv.12’ saved [1475504/1475504]

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')

In [3]:
df.head().T

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

In [4]:

    use = ['Make',
    'Model',
    'Year',
    'Engine HP',
    'Engine Cylinders',
    'Transmission Type',
    'Vehicle Style',
    'highway MPG',
    'city mpg',
    'MSRP']

In [5]:
df = df[use].copy()

In [6]:
df.head().T

                            0            1         2         3            4
Make                      BMW          BMW       BMW       BMW          BMW
Model              1 Series M     1 Series  1 Series  1 Series     1 Series
Year                     2011         2011      2011      2011         2011
Engine HP               335.0        300.0     300.0     230.0        230.0
Engine Cylinders          6.0          6.0       6.0       6.0          6.0
Transmission Type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
Vehicle Style           Coupe  Convertible     Coupe     Coupe  Convertible
highway MPG                26           28        28        28           28
city mpg                   19           19        20        18           18
MSRP                    46135        40650     36350     29450        34500

In [7]:
df = df.fillna(0)

In [8]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [9]:
df.head().T

                            0            1         2         3            4
make                      BMW          BMW       BMW       BMW          BMW
model              1 Series M     1 Series  1 Series  1 Series     1 Series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
vehicle_style           Coupe  Convertible     Coupe     Coupe  Convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
msrp                    46135        40650     36350     29450        34500

In [10]:
categorical = df.dtypes[df.dtypes=='object'].index

In [11]:
for c in categorical:
    df[c] = df[c].str.replace(' ', '_').str.lower()

In [12]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [13]:
df[['engine_hp','engine_cylinders']] = df[['engine_hp','engine_cylinders']].fillna(0)

In [14]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [15]:
df.rename(columns={"msrp":"price"},inplace=True)

In [16]:
df_l = df.copy()

In [17]:
df.dtypes

make                  object
model                 object
year                   int64
engine_hp            float64
engine_cylinders     float64
transmission_type     object
vehicle_style         object
highway_mpg            int64
city_mpg               int64
price                  int64
dtype: object

In [18]:
numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg','price']

In [19]:
categorical = ['make','model','transmission_type','vehicle_style']

In [20]:
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500

In [21]:
df['transmission_type'].value_counts()

automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: transmission_type, dtype: int64

In [22]:
df['transmission_type'].mode()

0    automatic
Name: transmission_type, dtype: object

# Q1 : What is the most frequent observation (mode) for the column transmission_type?
# A : AUTOMATIC

In [23]:
df[numerical].corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

# Q2. Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
# A: highway_mpg and city_mpg

In [24]:
df['above_average'] = (df.price >= df.price.mean()).astype('int')
del df['price']

In [25]:
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
above_average               1            1         0         0            0

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
df_full_train,df_test = train_test_split(df,test_size = 0.2,random_state=42)

In [28]:
df_train,df_val = train_test_split(df_full_train,test_size = 0.25,random_state=42)

In [29]:
df_test.shape

(2383, 10)

In [30]:
df_train.shape

(7148, 10)

In [31]:
df_val.shape

(2383, 10)

In [32]:
from sklearn.metrics import mutual_info_score
def mutual_info_ab_av_score(series):
    return mutual_info_score(series,df_full_train.above_average)
for c in categorical:
    print(c,round(mutual_info_ab_av_score(df_full_train[c]),2))

make 0.24
model 0.46
transmission_type 0.02
vehicle_style 0.08

In [33]:
y_train = df_train.above_average.values
y_test = df_test.above_average.values
y_val = df_val.above_average.values

In [34]:
del df_train['above_average']
del df_test['above_average']
del df_val['above_average']

# Q3. Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
# A. transmission_type

In [35]:
from sklearn.feature_extraction import DictVectorizer

In [36]:
train_dicts = df_train.to_dict(orient='records')

In [37]:
df_train.nunique()

make                  48
model                869
year                  28
engine_hp            339
engine_cylinders       9
transmission_type      5
vehicle_style         16
highway_mpg           55
city_mpg              62
dtype: int64

In [38]:
    categorical

['make', 'model', 'transmission_type', 'vehicle_style']

In [39]:
dv = DictVectorizer(sparse=False)

In [40]:
val_dicts = df_val.to_dict(orient='records')

In [41]:
X_train = dv.fit_transform(train_dicts)

In [42]:
X_train.shape

(7148, 943)

In [43]:
X_val = dv.transform(val_dicts)

In [44]:
X_val.shape

(2383, 943)

In [45]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train,y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [76]:
y_pred = model.predict_proba(X_val)

In [80]:
y_pred[:,1].shape

(2383,)

In [79]:
y_pred[:,1:].shape

(2383, 1)

In [81]:
avg_decision = (y_pred[:,1] >= 0.5)

In [82]:
org_accuracy = (y_val==avg_decision).mean()

In [83]:
round(org_accuracy,2)

0.94

# Q4: What accuracy did you get?
# A: 0.94

In [69]:
feats = [
    
    "year",
    "engine_hp",
    "transmission_type",
    "city_mpg"

]

In [88]:
def accuracy_without_feature(df_train,df_val,y_train,y_val,feat):
    df_train = df_train.copy()
    df_val = df_val.copy()
    df_train.drop([feat],axis=1,inplace=True)
    df_val.drop([feat],axis=1,inplace=True)
    # print(df_train.columns)
    train_dicts = df_train.to_dict(orient='records')
    dv = DictVectorizer(sparse=False)
    val_dicts = df_val.to_dict(orient='records')
    X_train = dv.fit_transform(train_dicts)
    X_val = dv.transform(val_dicts)
    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train,y_train)
    y_pred = (model.predict_proba(X_val)[:,1]) >= 0.5
    res = round((y_pred==y_val).mean(),2)
    print(res)
    return res

In [89]:
for feat in feats:
    print(feat,org_accuracy - accuracy_without_feature(df_train,df_val,y_train,y_val,feat))

0.95
year -0.011267310113302509
0.92
engine_hp 0.018732689886697407
0.94
transmission_type -0.0012673101133025
0.95
city_mpg -0.011267310113302509

# Q5: Which of following feature has the smallest difference?
# A: year