In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2023-10-04 09:34:41--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  1.36MB/s    in 1.0s

2023-10-04 09:34:43 (1.36 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [3]:
import pandas as pd
df = pd.read_csv('data.csv')

In [6]:
df.head().T

,0,1,2,3,4
Make,BMW,BMW,BMW,BMW,BMW
Model,1 Series M,1 Series,1 Series,1 Series,1 Series
Year,2011,2011,2011,2011,2011
Engine Fuel Type,premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required),premium unleaded (required)
Engine HP,335.0,300.0,300.0,230.0,230.0
Engine Cylinders,6.0,6.0,6.0,6.0,6.0
Transmission Type,MANUAL,MANUAL,MANUAL,MANUAL,MANUAL
Driven_Wheels,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive,rear wheel drive
Number of Doors,2.0,2.0,2.0,2.0,2.0
Market Category,"Factory Tuner,Luxury,High-Performance","Luxury,Performance","Luxury,High-Performance","Luxury,Performance",Luxury
Vehicle Size,Compact,Compact,Compact,Compact,Compact
Vehicle Style,Coupe,Convertible,Coupe,Coupe,Convertible
highway MPG,26,28,28,28,28
city mpg,19,19,20,18,18
Popularity,3916,3916,3916,3916,3916
MSRP,46135,40650,36350,29450,34500

In [7]:

    use = ['Make',
    'Model',
    'Year',
    'Engine HP',
    'Engine Cylinders',
    'Transmission Type',
    'Vehicle Style',
    'highway MPG',
    'city mpg',
    'MSRP']

In [8]:
df = df[use].copy()

In [9]:
df.head().T

                            0            1         2         3            4
Make                      BMW          BMW       BMW       BMW          BMW
Model              1 Series M     1 Series  1 Series  1 Series     1 Series
Year                     2011         2011      2011      2011         2011
Engine HP               335.0        300.0     300.0     230.0        230.0
Engine Cylinders          6.0          6.0       6.0       6.0          6.0
Transmission Type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
Vehicle Style           Coupe  Convertible     Coupe     Coupe  Convertible
highway MPG                26           28        28        28           28
city mpg                   19           19        20        18           18
MSRP                    46135        40650     36350     29450        34500

In [10]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [11]:
df.head().T

                            0            1         2         3            4
make                      BMW          BMW       BMW       BMW          BMW
model              1 Series M     1 Series  1 Series  1 Series     1 Series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
vehicle_style           Coupe  Convertible     Coupe     Coupe  Convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
msrp                    46135        40650     36350     29450        34500

In [15]:
categorical = df.dtypes[df.dtypes=='object'].index

In [16]:
for c in categorical:
    df[c] = df[c].str.replace(' ', '_').str.lower()

In [17]:
df.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [29]:
df[['engine_hp','engine_cylinders']] = df[['engine_hp','engine_cylinders']].fillna(0)

In [30]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [33]:
df.rename(columns={"msrp":"price"},inplace=True)

In [43]:
numerical = [type_t for type_t in list(df.columns)]

In [42]:
numerical

['make',
 'model',
 'year',
 'engine_hp',
 'engine_cylinders',
 'transmission_type',
 'vehicle_style',
 'highway_mpg',
 'city_mpg',
 'price']

In [34]:
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500

In [36]:
df['transmission_type'].value_counts()

automatic           8266
manual              2935
automated_manual     626
direct_drive          68
unknown               19
Name: transmission_type, dtype: int64

In [37]:
df['transmission_type'].mode()

0    automatic
Name: transmission_type, dtype: object

# Q1 : What is the most frequent observation (mode) for the column transmission_type?
# A : AUTOMATIC

In [44]:
df[numerical].corr()

/tmp/ipykernel_53662/2382240001.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df[numerical].corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

# Q2. Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
# A: highway_mpg and city_mpg

In [51]:
df['above_average'] = (df.price > df.price.mean()).astype('int')

In [52]:
df.head().T

                            0            1         2         3            4
make                      bmw          bmw       bmw       bmw          bmw
model              1_series_m     1_series  1_series  1_series     1_series
year                     2011         2011      2011      2011         2011
engine_hp               335.0        300.0     300.0     230.0        230.0
engine_cylinders          6.0          6.0       6.0       6.0          6.0
transmission_type      manual       manual    manual    manual       manual
vehicle_style           coupe  convertible     coupe     coupe  convertible
highway_mpg                26           28        28        28           28
city_mpg                   19           19        20        18           18
price                   46135        40650     36350     29450        34500
above_average               1            1         0         0            0

In [54]:
from sklearn.model_selection import train_test_split

In [56]:
df_full_train,df_test = train_test_split(df,test_size = 0.2,random_state=42)

In [57]:
df_train,df_val = train_test_split(df_full_train,test_size = 0.25,random_state=42)

In [58]:
df_test.shape

(2383, 11)

In [59]:
df_train.shape

(7148, 11)

In [60]:
df_val.shape

(2383, 11)

In [65]:
from sklearn.metrics import mutual_info_score
def mutual_info_ab_av_score(series):
    return mutual_info_score(series,df_train.above_average)
for c in categorical:
    print(c,round(mutual_info_ab_av_score(df_train[c]),2))

make 0.24
model 0.46
transmission_type 0.02
vehicle_style 0.08

# Q3. Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
# A. model